<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/lux/bootstrap.min.css">
    <title>Canales</title>
</head>
<body>

  
    <div class="container" style="margin-top: 50px;">
      <h4>Canales</h4>

        <table class="table">
            <thead>
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Tipo</th>
                <th scope="col">Tipo destinatario</th>
                <th scope="col">Fecha</th>
              </tr>
            </thead>
            <tbody id="listarCanales">
              {% for canal in canales %}
              <tr>
                <td>{{canal['nombre']}}</td>
                <td>{{canal['tipo']}}</td>
                <td>{{canal['tipo_destinatario']}}</td>
                <td>{{canal['fecha']}}</td>
              </tr>
              {% endfor %}
              
            </tbody>
          </table>

    </div>

</body>
</html>